In [1]:
from peewee import Model, AutoField, IntegerField, DateField, CharField
import pymysql
from playhouse.mysql_ext import MySQLDatabase

Étape 2: Extraction des données

In [2]:
db = MySQLDatabase('ecole',user='root', password='root',host='localhost', port=3306)

class BaseModel(Model):
    class Meta:
        database = db

class etudiant(BaseModel):
    student_id = AutoField()
    prenom = CharField() 
    nom = CharField()
    numero_salle = IntegerField()
    telephone = IntegerField()
    email = CharField() 
    annee_obtention = DateField()
    numero_classe = IntegerField()

class enseignants(BaseModel):
    teacher_id = AutoField()
    prenom = CharField() 
    nom = CharField()
    numero_salle = IntegerField()
    departement = CharField()
    annee_obtention = DateField()
    email = CharField()
    telephone = IntegerField() 
    numero_classe = IntegerField()

db.connect()

True

In [3]:
enseign = enseignants.select()
for e in enseign:
    print(e.teacher_id, e.prenom)

1 Jonas
2 Jean
3 Marie
4 Pierre
5 Laura
6 Paul
7 Lucie
8 David
9 Julie
10 Antoine
11 Sophie
12 Marc
13 Claire
14 Jacques
15 Caroline
16 Nicolas
17 Emma
18 Lucas
19 Hélène
20 Philippe
21 Manon
22 Julien
23 Camille
24 Vincent
25 Alice
26 Maxime
27 Elodie
28 Yann
29 Florence
30 Guillaume
31 Isabelle
32 Olivier
33 Céline
34 Alexandre
35 Valérie
36 François
37 Chloé
38 Adrien
39 Amandine
40 Victor
41 Sandrine
42 Eric
43 Amélie
44 Thierry
45 Inès
46 Christophe
47 Nathalie
48 Damien

Etape 2 Extraction des données

Table Enseignants

In [4]:
connection = pymysql.connect(database='ecole', user='root', password='root', host='localhost')
cursor = connection.cursor()


cursor.execute("SELECT * FROM enseignants")
resultat = cursor.fetchmany(10)
colonnes = [desc[0] for desc in cursor.description]
enseignants_dict= [dict(zip(colonnes, enseignants )) for enseignants in resultat]

for e in enseignants_dict:
    print(e)


cursor.close()
connection.close()

{'teacher_id': 1, 'prenom': 'Jonas', 'nom': 'SALK', 'numero_salle': 2, 'departement': 'biologie', 'annee_obtention': datetime.date(2024, 7, 17), 'email': ' jsalk@school.org', 'telephone': '777-555-4321', 'numero_classe': 5}
{'teacher_id': 2, 'prenom': 'Jean', 'nom': 'Dupont', 'numero_salle': 101, 'departement': 'Mathématiques', 'annee_obtention': datetime.date(2005, 6, 15), 'email': 'jean.dupont@mail.com', 'telephone': '0600000001', 'numero_classe': 1}
{'teacher_id': 3, 'prenom': 'Marie', 'nom': 'Martin', 'numero_salle': 102, 'departement': 'Histoire', 'annee_obtention': datetime.date(2008, 5, 22), 'email': 'marie.martin@mail.com', 'telephone': '0600000002', 'numero_classe': 1}
{'teacher_id': 4, 'prenom': 'Pierre', 'nom': 'Durand', 'numero_salle': 103, 'departement': 'Physique', 'annee_obtention': datetime.date(2009, 7, 10), 'email': 'pierre.durand@mail.com', 'telephone': '0600000003', 'numero_classe': 2}
{'teacher_id': 5, 'prenom': 'Laura', 'nom': 'Bernard', 'numero_salle': 104, 'departement': 'Chimie', 'annee_obtention': datetime.date(2010, 4, 18), 'email': 'laura.bernard@mail.com', 'telephone': '0600000004', 'numero_classe': 2}
{'teacher_id': 6, 'prenom': 'Paul', 'nom': 'Moreau', 'numero_salle': 105, 'departement': 'Anglais', 'annee_obtention': datetime.date(2011, 3, 5), 'email': 'paul.moreau@mail.com', 'telephone': '0600000005', 'numero_classe': 3}
{'teacher_id': 7, 'prenom': 'Lucie', 'nom': 'Petit', 'numero_salle': 106, 'departement': 'Mathématiques', 'annee_obtention': datetime.date(2012, 2, 11), 'email': 'lucie.petit@mail.com', 'telephone': '0600000006', 'numero_classe': 3}
{'teacher_id': 8, 'prenom': 'David', 'nom': 'Robert', 'numero_salle': 107, 'departement': 'Géographie', 'annee_obtention': datetime.date(2013, 8, 25), 'email': 'david.robert@mail.com', 'telephone': '0600000007', 'numero_classe': 4}
{'teacher_id': 9, 'prenom': 'Julie', 'nom': 'Richard', 'numero_salle': 108, 'departement': 'Biologie', 'annee_obtention': datetime.date(2014, 9, 19), 'email': 'julie.richard@mail.com', 'telephone': '0600000008', 'numero_classe': 4}
{'teacher_id': 10, 'prenom': 'Antoine', 'nom': 'Simon', 'numero_salle': 109, 'departement': 'Physique', 'annee_obtention': datetime.date(2015, 10, 3), 'email': 'antoine.simon@mail.com', 'telephone': '0600000009', 'numero_classe': 5}

Table Etudiants

In [5]:
connection = pymysql.connect(database='ecole', user='root', password='root', host='localhost')
cursor = connection.cursor()


cursor.execute("SELECT * FROM etudiants")
resultat = cursor.fetchmany(10)
colonnes = [desc[0] for desc in cursor.description]
etudiants_dict= [dict(zip(colonnes, enseignants )) for enseignants in resultat]

for elev in etudiants_dict:
    print(elev)

cursor.close()
connection.close()

{'student_id': 1, 'prenom': 'Alice', 'nom': 'Martin', 'numero_salle': 101, 'telephone': 600000001, 'email': 'alice.martin@mail.com', 'annee_obtention': datetime.date(2020, 6, 15), 'numero_classe': 1}
{'student_id': 2, 'prenom': 'Thomas', 'nom': 'Dupont', 'numero_salle': 102, 'telephone': 600000002, 'email': 'thomas.dupont@mail.com', 'annee_obtention': datetime.date(2021, 6, 20), 'numero_classe': 1}
{'student_id': 3, 'prenom': 'Camille', 'nom': 'Bernard', 'numero_salle': 103, 'telephone': 600000003, 'email': 'camille.bernard@mail.com', 'annee_obtention': datetime.date(2022, 7, 10), 'numero_classe': 2}
{'student_id': 4, 'prenom': 'Lucas', 'nom': 'Durand', 'numero_salle': 104, 'telephone': 600000004, 'email': 'lucas.durand@mail.com', 'annee_obtention': datetime.date(2023, 5, 15), 'numero_classe': 2}
{'student_id': 5, 'prenom': 'Emma', 'nom': 'Moreau', 'numero_salle': 105, 'telephone': 600000005, 'email': 'emma.moreau@mail.com', 'annee_obtention': datetime.date(2024, 9, 1), 'numero_classe': 3}
{'student_id': 6, 'prenom': 'Maxime', 'nom': 'Petit', 'numero_salle': 106, 'telephone': 600000006, 'email': 'maxime.petit@mail.com', 'annee_obtention': datetime.date(2025, 3, 10), 'numero_classe': 3}
{'student_id': 7, 'prenom': 'Julie', 'nom': 'Richard', 'numero_salle': 107, 'telephone': 600000007, 'email': 'julie.richard@mail.com', 'annee_obtention': datetime.date(2026, 4, 20), 'numero_classe': 4}
{'student_id': 8, 'prenom': 'Antoine', 'nom': 'Robert', 'numero_salle': 108, 'telephone': 600000008, 'email': 'antoine.robert@mail.com', 'annee_obtention': datetime.date(2027, 5, 12), 'numero_classe': 4}
{'student_id': 9, 'prenom': 'Marie', 'nom': 'Simon', 'numero_salle': 109, 'telephone': 600000009, 'email': 'marie.simon@mail.com', 'annee_obtention': datetime.date(2028, 6, 10), 'numero_classe': 5}
{'student_id': 10, 'prenom': 'Paul', 'nom': 'Lefebvre', 'numero_salle': 110, 'telephone': 600000010, 'email': 'paul.lefebvre@mail.com', 'annee_obtention': datetime.date(2029, 7, 18), 'numero_classe': 5}

Etape 3 Manipulation des données

In [6]:
associe_dict=[]
limite =0

for a in etudiants_dict:
    for b in enseignants_dict:
        if a["numero_classe"]==b["numero_classe"]:
            associe_dict.append({
                "prenom":a["prenom"],
                "numero classe":a["numero_classe"],
                "enseignant":b["nom"]
             })

for c in associe_dict:
    print(f"etudiant : {c['prenom']}, numero classe : {c['numero classe']}, enseignant : {c['enseignant']}")
    limite +=1
    if limite ==10:
        break

etudiant : Alice, numero classe : 1, enseignant : Dupont
etudiant : Alice, numero classe : 1, enseignant : Martin
etudiant : Thomas, numero classe : 1, enseignant : Dupont
etudiant : Thomas, numero classe : 1, enseignant : Martin
etudiant : Camille, numero classe : 2, enseignant : Durand
etudiant : Camille, numero classe : 2, enseignant : Bernard
etudiant : Lucas, numero classe : 2, enseignant : Durand
etudiant : Lucas, numero classe : 2, enseignant : Bernard
etudiant : Emma, numero classe : 3, enseignant : Moreau
etudiant : Emma, numero classe : 3, enseignant : Petit

Etape 4 Analyse des données

In [7]:
nb_etudiants={}
cpt =0
limite=0
for a in etudiants_dict:
    for b in enseignants_dict:
        if a["numero_classe"]==b["numero_classe"]:
            if b["nom"] in nb_etudiants:
                nb_etudiants[b["nom"]]+=1
        else:
            nb_etudiants[b["nom"]] = 1


for enseignant, nb_etudiants in nb_etudiants.items():
    print(f"Enseignant : {enseignant}, Nombre d'élèves : {nb_etudiants}")

Enseignant : SALK, Nombre d'élèves : 3
Enseignant : Durand, Nombre d'élèves : 1
Enseignant : Bernard, Nombre d'élèves : 1
Enseignant : Moreau, Nombre d'élèves : 1
Enseignant : Petit, Nombre d'élèves : 1
Enseignant : Robert, Nombre d'élèves : 1
Enseignant : Richard, Nombre d'élèves : 1
Enseignant : Simon, Nombre d'élèves : 3
Enseignant : Dupont, Nombre d'élèves : 1
Enseignant : Martin, Nombre d'élèves : 1

Etape 5 Automatisation de pipeline

In [9]:
def connect_to_db():
        conn =  pymysql.connect(database='ecole', user='root', password='root', host='localhost')
        return conn


def extraire_data(conn):
    cur = conn.cursor()
    cur.execute("SELECT prenom, numero_classe FROM etudiants")
    etudiants_dict = cur.fetchmany(15)

    cur.execute("SELECT nom, numero_classe FROM enseignants")
    enseignants_dict = cur.fetchmany(15)

    return etudiants_dict, enseignants_dict


def associe_data(etudiants_dict, enseignants_dict):
    associe_dict = []
    for etudiant in etudiants_dict:
        for enseignant in enseignants_dict:
            if etudiant[1] == enseignant[1]: 
                associe_dict.append({
                    "prenom": etudiant[0],
                    "numero classe": etudiant[1],
                    "enseignant": enseignant[0]
                })
    return associe_dict

def compteur_enseignant(associe_dict):
    count_dict = {}
    for association in associe_dict:
        enseignant = association['enseignant']
        if enseignant in count_dict:
            count_dict[enseignant] += 1
        else:
            count_dict[enseignant] = 1
    return count_dict

def affiche_data(associe_dict, limit=10):
    count = 0
    for association in associe_dict:
        print(f"Etudiant : {association['prenom']}, Numero classe : {association['numero classe']}, Enseignant : {association['enseignant']}")
        count += 1
        if count == limit:
            break

def la_classe(count_dict):
    print("Nombre d'élèves par enseignant :")
    for enseignant, count in count_dict.items():
        print(f"Enseignant : {enseignant}, Nombre d'élèves : {count}")

        
def close_connection(conn):
    conn.close()


def main():
    conn = connect_to_db()
    
    if conn is None:
        return
    try:
        etudiants_dict, enseignants_dict = extraire_data(conn)
        associe_dict = associe_data(etudiants_dict, enseignants_dict)
        affiche_data(associe_dict, limit=10)
        count_dict = compteur_enseignant(associe_dict)
        la_classe(count_dict)
    finally:
        close_connection(conn)

if __name__ == '__main__':
    main()

Etudiant : Alice, Numero classe : 1, Enseignant : Dupont
Etudiant : Alice, Numero classe : 1, Enseignant : Martin
Etudiant : Thomas, Numero classe : 1, Enseignant : Dupont
Etudiant : Thomas, Numero classe : 1, Enseignant : Martin
Etudiant : Camille, Numero classe : 2, Enseignant : Durand
Etudiant : Camille, Numero classe : 2, Enseignant : Bernard
Etudiant : Lucas, Numero classe : 2, Enseignant : Durand
Etudiant : Lucas, Numero classe : 2, Enseignant : Bernard
Etudiant : Emma, Numero classe : 3, Enseignant : Moreau
Etudiant : Emma, Numero classe : 3, Enseignant : Petit

Nombre d'élèves par enseignant :
Enseignant : Dupont, Nombre d'élèves : 2
Enseignant : Martin, Nombre d'élèves : 2
Enseignant : Durand, Nombre d'élèves : 2
Enseignant : Bernard, Nombre d'élèves : 2
Enseignant : Moreau, Nombre d'élèves : 2
Enseignant : Petit, Nombre d'élèves : 2
Enseignant : Robert, Nombre d'élèves : 2
Enseignant : Richard, Nombre d'élèves : 2
Enseignant : SALK, Nombre d'élèves : 2
Enseignant : Simon, Nombre d'élèves : 2
Enseignant : Lefebvre, Nombre d'élèves : 2
Enseignant : Leclerc, Nombre d'élèves : 2
Enseignant : Giraud, Nombre d'élèves : 2
Enseignant : Roux, Nombre d'élèves : 2
Enseignant : Faure, Nombre d'élèves : 2